---
layout: default
---

{% include page_header.html %}

<!--======  blog-details PART START ======-->
<style>
  div.post-content>* {
    font-size: 1.2em;
    padding-bottom: 2em;
    color: black;
  }

  div.post-content>p {
    line-height: 2em;
  }

  div.post-content>ul {
    list-style-type: circle;
    list-style-position: inside;
  }

  div.post-content>ul>li {
    margin-bottom: 0.5em;
  }
</style>
<section class="blog-details">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="single-blog-details-box">
          {% if page.post_image %}
          <div class="blog-boxed-img">
            <img src="{{page.post_image}}" class="w-100" alt="{{page.title}}" />
          </div>
          {% endif %}
          <div class="single-blog-details-box-time">
            {% if page.author %}
            <span><i class="fas fa-user-alt"></i>{{page.author}}</span>
            {% endif %} {% if page.date %}
            <span><i class="far fa-calendar-alt"></i>{{page.date |
              date_to_long_string}}</span>
            {% endif %}
          </div>
          <h2>{{page.title}}</h2>
          <div class="post-content">{{page.content | markdownify}}</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--======  blog-details PART end ======-->